
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sdf
*.opensdf
*.ipch
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
SingleImage/
Examples/
.nuget/
ipch/
.metadata/
packages/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
X3Hub/ConsoleTest/App.config
X3Hub/ConsoleTest/App.config.real
X3Hub/ConsoleTest.psess
X3Hub/testService/App.config
SpreadsService/SpreadsService/SpreadsService.exe.config
plugins/compiled/SmartHedgeDealer.dll
plugins/compiled/TradesProcessor.dll
plugins/compiled/WebRegistration.dll
!Aggregator.Lib
!Aggregator.DbMigration.Lib
NuGet.Packages/NuGet.MQ.HeartBeat/lib/net40/ICSharpCode.SharpZipLib.dll
NuGet.Packages/NuGet.MQ.HeartBeat/lib/net40/log4net.dll
NuGet.Packages/NuGet.MQ.HeartBeat/lib/net40/MQ.HeartBeat.dll
NuGet.Packages/NuGet.MQ.HeartBeat/lib/net40/Newtonsoft.Json.dll
NuGet.Packages/NuGet.MQ.HeartBeat/lib/net40/RabbitMQ.Client.dll
NuGet.Packages/NuGet.MQ.HeartBeat/lib/net40/SharpExtensionsUtil.dll
NuGet.Packages/NuGet.MQ.HeartBeat/lib/net45/ICSharpCode.SharpZipLib.dll
NuGet.Packages/NuGet.MQ.HeartBeat/lib/net45/log4net.dll
NuGet.Packages/NuGet.MQ.HeartBeat/lib/net45/MQ.HeartBeat.dll
NuGet.Packages/NuGet.MQ.HeartBeat/lib/net45/Newtonsoft.Json.dll
NuGet.Packages/NuGet.ManagerApi4/lib/net40/Factory4.dll
NuGet.Packages/NuGet.ManagerApi4/lib/net40/ManagerApi4.dll
NuGet.Packages/NuGet.ManagerApi4/lib/net40/MT4Api.dll
NuGet.Packages/NuGet.ManagerApi4/lib/net40/mtmanapi.dll
NuGet.Packages/NuGet.ManagerApi4/lib/net40/mtmanapi64.dll
NuGet.Packages/NuGet.ManagerApi4/lib/net45/Factory4.dll
NuGet.Packages/NuGet.ManagerApi4/lib/net45/ManagerApi4.dll
NuGet.Packages/NuGet.ManagerApi4/lib/net45/MT4Api.dll
NuGet.Packages/NuGet.ManagerApi4/lib/net45/mtmanapi.dll
NuGet.Packages/NuGet.ManagerApi4/lib/net45/mtmanapi64.dll
NuGet.Packages/NuGet.ManagerApi4/NuGet.ManagerApi4.1.0.1.nupkg
NuGet.Packages/NuGet.MQ.HeartBeat/lib/net45/RabbitMQ.Client.dll
NuGet.Packages/NuGet.MQ.HeartBeat/lib/net45/SharpExtensionsUtil.dll
NuGet.Packages/output/MQ.HeartBeat.1.0.2.nupkg
NuGet.Packages/NuGet.ManagerApi4/NuGet.ManagerApi4.1.0.1.nupkg
NuGet.Packages/NuGet.MQ.HeartBeat/lib/net45/RabbitMQ.Client.dll
NuGet.Packages/NuGet.MQ.HeartBeat/lib/net45/SharpExtensionsUtil.dll
NuGet.Packages/output/MQ.HeartBeat.1.0.2.nupkg
NuGet.Packages/NuGet.ManagerApi4/NuGet.ManagerApi4.1.0.1.nupkg
NuGet.Packages/NuGet.ManagerApi4/NuGet.ManagerApi4.1.0.1.nupkg
NuGet.Packages/output/NuGet.ManagerApi4.1.0.1.nupkg
NuGet.Packages/NuGet.ManagerApi4/NuGet.ManagerApi4.1.0.1.nupkg
